[submodule "Newtonsoft.Json"]
	path = Newtonsoft.Json
	url = https://github.com/JamesNK/Newtonsoft.Json.git
[submodule "websocket-sharp"]
	path = websocket-sharp
	url = https://github.com/sta/websocket-sharp.git
